<nz-spin [nzSpinning]="isSpinning">
<div class="ant-advanced-search-form">
    <form nz-form [formGroup]="validateForm" >
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label>选择会员</nz-form-label>
              <nz-form-control>
                <nz-select (ngModelChange)="userChange($event)" nzShowSearch [ngModel]="UserModel.id"  formControlName="id" [nzPlaceHolder]="'选择会员'">
                    <nz-option *ngFor="let data of userList" [nzLabel]="data.name" [nzValue]="data.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
                <button nz-button nzType="default"  (click)="consumptionModal(UserModel.id,UserModel.name)">添加消费</button>
            </nz-form-item>
          </div>
        </div>
        
        
      </form>
      <nz-divider nzType="horizontal"></nz-divider>
      
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="8">
              <nz-form-item>
                <nz-form-label>会员姓名</nz-form-label>
                <nz-form-control class="passenger-input">
                    <input  [(ngModel)]="UserModel.name" nz-input  disabled/>
                </nz-form-control>
              </nz-form-item>              
            </div>
            <div nz-col [nzSpan]="8">
                <nz-form-item>
                    <nz-form-label>会员余额</nz-form-label>
                    <nz-form-control class="passenger-input">
                        <input class="width40"  [(ngModel)]="UserModel.balance" nz-input  disabled/>
                        <button nz-button nzType="default" (click)="rechargeModal(UserModel.id,UserModel.name)"><i nz-icon nzType="money-collect" nzTheme="outline"></i>充值</button>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8">
                <nz-form-item>
                    <nz-form-label>会员欠款</nz-form-label>
                    <nz-form-control class="passenger-input">
                        <input class="width40"  [(ngModel)]="UserModel.arrears" nz-input  disabled/>
                        <button nz-button nzType="default" (click)="repaymentModal(UserModel.id,UserModel.name)"><i nz-icon nzType="money-collect" nzTheme="outline"></i>还款</button>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="24">
              <nz-form-item>
                <nz-form-label>所属车辆</nz-form-label>
                <nz-form-control class="passenger-input">
                    <nz-list nzBordered >
                        <nz-list-item *ngFor="let item of UserCarModel">
                          <span nz-typography><mark>{{ item.car_number1 }}{{ item.car_number2 }}</mark></span>
                        </nz-list-item>
                      </nz-list>
                </nz-form-control>
              </nz-form-item>              
            </div>
        </div>
</div>
   
<!-- 充值modal start -->
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="'用户充值：'+rechargeUser.userName" (nzOnCancel)="handleCancel()">
    <div *nzModalContent>
        <form nz-form [nzLayout]="'inline'" [formGroup]="RechargeModelForm">
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label>充值数量</nz-form-label>
                        <nz-form-control>
                        <nz-input-number formControlName="num" [nzMin]="0" [nzMax]="999999" [nzStep]="0.01" placeholder="输入充值数量"></nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24" class="pt20">
                    <nz-form-item>
                        <nz-form-label>收银人员</nz-form-label>
                        <nz-form-control>
                            <nz-radio-group formControlName="cashier" [(ngModel)]="RechargeModelForm.value.cashier" *ngFor="let data of AdminUserList">
                                <label nz-radio [nzValue]="data.id">{{data.user_nickname}}</label>
                              </nz-radio-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24" class="pt20">
                    <nz-form-item>
                        <nz-form-label>收银类型</nz-form-label>
                        <nz-form-control>
                            <nz-radio-group formControlName="cashierType" [(ngModel)]="RechargeModelForm.value.cashierType">
                                <label nz-radio nzValue="现金">现金</label>
                                <label nz-radio nzValue="微信">微信</label>
                                <label nz-radio nzValue="支付宝">支付宝</label>
                              </nz-radio-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24" class="pt20">
                    <nz-form-item>
                        <nz-form-label>备注</nz-form-label>
                        <nz-form-control>
                        <textarea nz-input placeholder="please enter url description" formControlName="remark" [nzAutosize]="{ minRows: 4, maxRows: 4 }"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
          </form>
    </div>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleCancel()">取消</button>
      <!-- <button nz-button nzType="primary" (click)="submitRechargeForm()" [nzLoading]="isConfirmLoading">提交</button> -->              
      <button nz-button nzType="primary" (click)="showRechargeComfirmModal()" [nzLoading]="isConfirmLoading">提交</button>
    </div>
  </nz-modal>
<!-- 充值确认 start -->
  <nz-modal
    [(nzVisible)]="rechargeComfirmIsVisible"
    nzTitle="充值确认"
    nzOkText="确认"
    nzCancelText="取消"
    (nzOnOk)="submitRechargeForm()"
    (nzOnCancel)="showRechargeComfirmHandleCancel()"
>
<ng-container *nzModalContent>
    <p style="text-align: center;">确认给 {{rechargeUser.userName}} 充值 {{RechargeModelForm.value.num}}元吗？</p>
  </ng-container>
</nz-modal>
<!-- 充值确认 end -->
<!-- 充值modal end -->

  
<!-- 还款modal start -->
<nz-modal [(nzVisible)]="repaymentIsVisible" [nzTitle]="'用户还款：'+repaymentUser.userName" (nzOnCancel)="repaymentHandleCancel()">
  <div *nzModalContent>
      <form nz-form [nzLayout]="'inline'" [formGroup]="RepaymentModelForm">
              <div nz-col nzSpan="24">
                  <nz-form-item>
                      <nz-form-label>还款数量</nz-form-label>
                      <nz-form-control>
                      <nz-input-number formControlName="num" [(ngModel)]="UserModel.arrears" [nzMin]="0" [nzMax]="999999" [nzStep]="0.01" placeholder="输入充值数量"></nz-input-number>
                      </nz-form-control>
                  </nz-form-item>
              </div>
              <div nz-col nzSpan="24" class="pt20">
                  <nz-form-item>
                      <nz-form-label>收银人员</nz-form-label>
                      <nz-form-control>
                          <nz-radio-group formControlName="cashier" [(ngModel)]="RepaymentModelForm.value.cashier" *ngFor="let data of AdminUserList">
                              <label nz-radio [nzValue]="data.id">{{data.user_nickname}}</label>
                            </nz-radio-group>
                      </nz-form-control>
                  </nz-form-item>
              </div>
              <div nz-col nzSpan="24" class="pt20">
                  <nz-form-item>
                      <nz-form-label>收银类型</nz-form-label>
                      <nz-form-control>
                          <nz-radio-group formControlName="cashierType" [(ngModel)]="RepaymentModelForm.value.cashierType">
                            <label nz-radio nzValue="1">微信</label>
                            <label nz-radio nzValue="2">支付宝</label>
                            <label nz-radio nzValue="3">现金</label>
                          </nz-radio-group>
                      </nz-form-control>
                  </nz-form-item>
              </div>
              <div nz-col nzSpan="24" class="pt20">
                  <nz-form-item>
                      <nz-form-label>备注</nz-form-label>
                      <nz-form-control>
                      <textarea nz-input placeholder="please enter url description" formControlName="remark" [nzAutosize]="{ minRows: 4, maxRows: 4 }"></textarea>
                      </nz-form-control>
                  </nz-form-item>
              </div>
        </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="repaymentHandleCancel()">取消</button>         
    <button nz-button nzType="primary" (click)="showRepaymentComfirmModal()" [nzLoading]="repaymentIsConfirmLoading">提交</button>
  </div>
</nz-modal>
<!-- 还款确认 start -->
<nz-modal
  [(nzVisible)]="repaymentComfirmIsVisible"
  nzTitle="还款确认"
  nzOkText="确认"
  nzCancelText="取消"
  (nzOnOk)="submitRepaymentForm()"
  (nzOnCancel)="showRepaymentComfirmHandleCancel()"
>
<ng-container *nzModalContent>
  <p style="text-align: center;">确认给 {{repaymentUser.userName}} 还款 {{RepaymentModelForm.value.num}}元吗？</p>
</ng-container>
</nz-modal>
<!-- 还款确认 end -->
<!-- 还款modal end -->


<!-- 添加消费modal start -->
<nz-modal nzWidth="880px" [(nzVisible)]="consumptionIsVisible" [nzTitle]="'添加消费'" (nzOnCancel)="consumptionHandleCancel()">
    <div *nzModalContent>
        <form nz-form [nzLayout]="'inline'" [formGroup]="ConsumptionModelForm">
            <nz-descriptions class="width100" nzTitle="会员信息" nzBordered>
                <nz-descriptions-item nzTitle="会员姓名">{{UserModel.name}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="会员余额">{{UserModel.balance}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="会员欠款">{{UserModel.arrears}}</nz-descriptions-item>      
                <nz-descriptions-item nzTitle="商品列表" [nzSpan]="3">
                    <nz-transfer
                        [nzDataSource]="GoodsModel"
                        nzShowSearch
                        [nzOperations]="['to right', 'to left']"
                        [nzListStyle]="{ 'width.px': 250, 'height.px': 300 }"
                        [nzRender]="render"
                        [nzFooter]="footer"
                        (nzSelectChange)="select($event)"
                        (nzChange)="change($event)"
                        >
                        <ng-template #render let-item> {{ item.title }}-{{ item.price }} </ng-template>
                        <ng-template #footer let-direction>
                            <button nz-button (click)="reload(direction)" [nzSize]="'small'" style="float: right; margin: 5px;">
                            重置商品数据
                            </button>
                        </ng-template>
                    </nz-transfer>
                    <div nz-col nzSpan="24" class="pt20" nzOffset="16">
                        <nz-form-item style="margin-top:10px;">
                            <nz-form-label [nzSpan]="12">总消费</nz-form-label>
                            <nz-form-control [nzSpan]="12">
                            <input nz-input formControlName="num">
                            </nz-form-control>
                        </nz-form-item >
                    </div>
                </nz-descriptions-item> 
                
                <nz-descriptions-item nzTitle="收银类型" [nzSpan]="3">
                    <nz-form-control>
                        <nz-radio-group formControlName="cashierType" [(ngModel)]="ConsumptionModelForm.value.cashierType">
                            <label nz-radio nzValue="1">微信</label>
                            <label nz-radio nzValue="2">支付宝</label>
                            <label nz-radio nzValue="3">现金</label>
                            <label nz-radio nzValue="4">欠款</label>
                            <label nz-radio nzValue="5">卡内余额</label>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-descriptions-item>

                <nz-descriptions-item nzTitle="备注" >
                    <nz-form-control>
                        <textarea nz-input placeholder="please enter url description" formControlName="remark" [nzAutosize]="{ minRows: 4, maxRows: 4 }"></textarea>
                    </nz-form-control>
                </nz-descriptions-item>

              </nz-descriptions>

          </form>
    </div>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="consumptionHandleCancel()">取消</button>      
      <button nz-button nzType="primary" (click)="showConsumptionComfirmModal()" [nzLoading]="isConsumptionConfirmLoading">提交</button>
    </div>
  </nz-modal>
<!-- 添加消费确认 start -->
  <nz-modal
    [(nzVisible)]="consumptionComfirmIsVisible"
    nzTitle="付款"
    nzOkText="确认"
    nzCancelText="取消"
    (nzOnOk)="submitConsumptionForm()"
    (nzOnCancel)="showConsumptionComfirmHandleCancel()"
>
<ng-container *nzModalContent>
    <p style="text-align: center;">总共消费 {{ConsumptionModelForm.value.num}}</p>
  </ng-container>
</nz-modal>
<!-- 添加消费确认 end -->

<!-- 添加消费modal end -->
    </nz-spin>