<nz-spin [nzSpinning]="isSpinning">

    <form class="pb10" nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitSearchForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input formControlName="userName" nz-input placeholder="输入会员姓名" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary"><i nz-icon nzType="search"></i>搜索</button>
          </nz-form-control>
        </nz-form-item>        
        <a class="downButton" (click)="export()" nz-button nzType="primary" [nzSize]="'default'"><i nz-icon nzType="download"></i>导出表格</a>
      </form>

<!-- 表格 start -->
<nz-table
[nzShowSizeChanger]="false"
[nzData]="sylistbaseList"
[nzFrontPagination]="false"
[nzLoading]="loading"
[nzTotal]="total"
[nzPageSize]="pageSize"
(nzPageSizeChange)="nzPageSizeChange($event)"
[nzPageIndex]="pageIndex"
(nzPageIndexChange)="nzPageIndexChange($event)"
nzBordered="true"
nzOuterBordered="true"
nzSize="default"
>
<thead>
  <tr>
    <th nzAlign="center">id</th>
    <th nzAlign="center">会员</th>
    <th nzAlign="center">应收数量</th>
    <th nzAlign="center">实收数量</th>
    <th nzAlign="center">收银类型</th>
    <th nzAlign="center">收银人</th>
    <th nzAlign="center">消费商品信息</th>
    <th nzAlign="center">备注</th>
    <th nzAlign="center">操作时间</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let data of sylistbaseList">
    <td nzAlign="center">{{ data.id }}</td>
    <td nzAlign="center">{{ data.name }}</td>
    <td nzAlign="center">{{data.receivable}}</td>
    <td nzAlign="center">{{data.num}}</td>
    <td nzAlign="center">{{data.cashierTypeName}}</td>
    <td nzAlign="center">{{data.user_nickname}}</td>
    <td nzAlign="center">
        <button nz-button nz-popover [nzPopoverContent]="contentTemplate">
            <span *ngFor="let data2 of data.goodsInfo">
                {{data2.name}}                
            </span>
        </button>
        
        <ng-template #contentTemplate>
            <nz-table 
            nzSize="small" 
            [nzData]="data.goodsInfo" 
            nzShowPagination="false" 
            nzBordered="true"
            #data.goodsInfo
        >
                <thead>
                  <tr>
                    <th>名称</th>
                    <th>价格</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data3 of data.goodsInfo">
                    <td>{{ data3.name }}</td>
                    <td>{{ data3.price }}</td>
                  </tr>
                </tbody>
              </nz-table>
        </ng-template>
    </td>
    <td nzAlign="center">
        <a style="border: 0;" *ngIf="data.remark.length > 0" [nzTooltipTitle]="data.remark" nzTooltipPlacement="top" nz-button nz-tooltip>{{data.remark.substring(0,3)}}...</a>
    </td>
    <td nzAlign="center">{{data.created}}</td>
  </tr>
</tbody>
</nz-table>
<!-- 表格 end -->


</nz-spin>